@CHARSET "ISO-8859-1";
.maincontainer {
	width:97%;
	overfow-x:scroll;
}
 .userstory {
    float:left;
 	padding:5px;
 	background-color:white;
 	width:105px;
 	height: 65px;
 	font-size:10px;
 	border-right: 2px solid gray;
 	border-bottom: 2px solid gray;
 	border-left:3px solid green;
 	box-shadow:2px 2px 6px gray;
 	margin:1%;
 	cursor:move;
 }
 .subcontainer {
 	min-width:20%;
 	max-width:20%;
 	min-height:375px;
 	overflow:auto;
 	border-right:0.5px solid gray;
 	width:auto;
 	float:left;
 	
 	
 }
 h5 {
 	text-align:center;
 }
 .badge {
 	float:right;
 	margin-right:2px;
 }
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: "Arial";
    font-size:13px;
    background: #FFF;
    color: #333;
    padding: 0;
}
.type-userstory {
	 display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: "Arial";
    font-size:13px;
    background: #FFF;
    color: #333;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 4px 12px;
    cursor: pointer;
    list-style-type: none;
}

.custom-menu li:hover {
    background-color: #DEF;
}
.custom-menu li:nth-child(3) a:link {
color:red;
	
}
li:nth-child(8)  {
	color:red;
}
.addicon {
	width:32px;
	height:32px;
	position:fixed;
	right:relaive 0;
	margin-left:190px;
	bottom:0;
	
}
p {
 text-align:justify;
}
#addnewstory {
	position:inherit;
	float:right;
	margin-right:5%;
	margin-top:-3.9%;
}
