 @CHARSET "ISO-8859-1";
 #userstory {
 	background-image: url("resources/images/userStory.png");
 	background-repeat:no-repeat;
 	width:250px;
 	padding-top: 13px;
 	padding-left: 25px;
 	font-size: 13px;
 	
 }

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}